name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Deploy to Server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.EC2_PUBLIC_IP }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          # "*" നൽകുന്നതിലൂടെ html, css, images എല്ലാം സെർവറിൽ എത്തും
          source: "index.html,styles.css,*.jpg,*.png" 
          target: "/home/ubuntu/"

      - name: Move to Web Folder
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_PUBLIC_IP }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            # എല്ലാ ഫയലുകളെയും വെബ് ഫോൾഡറിലേക്ക് മാറ്റുന്നു
            sudo cp /home/ubuntu/index.html /var/www/html/
            sudo cp /home/ubuntu/styles.css /var/www/html/
            # ഇമേജുകൾ ഉണ്ടെങ്കിൽ അവയും മാറ്റാൻ താഴെ പറയുന്ന വരി സഹായിക്കും
            sudo cp /home/ubuntu/*.jpg /var/www/html/ 2>/dev/null || true
            sudo cp /home/ubuntu/*.png /var/www/html/ 2>/dev/null || true
            
            sudo systemctl restart nginx